@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1160px !important;
  }
}

@media (max-width:1199.98px) {

  .section-info .form-row .form-col {
    margin-bottom: 40px;
    width: 100% !important;
    margin-right: 0px !important;
  }

  #section-cart {
    width: 100%;
  }

  #nav-menu {
    display: none
  }

  #name-logo {
    text-decoration: none;
  }

  .icon_cart:hover #dropdown {
    visibility: hidden;
    opacity: 0;
  }

  .slide-toggle-menu i {
    display: block;
  }

  .num_cart i {
    right: 31px;
  }

  span.num {
    right: 39px;
  }

  /* category product */
  #sidebar-left {
    width: 30% !important;
  }

  .section-detail .info-product h3 {
    font-size: 20px !important;
  }

  .section-detail .info-product .desc-product ul.list-desc-product li {
    width: 157px !important;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-size: 12px !important;
  }

  p.see-more, p.compact {
    left: 114px !important;
  }

}

@media (max-width:991.98px) {
  #product-hightline .carousel-control-next, #product-hightline .carousel-control-prev {
    opacity: 0;
  }

  .table-responsive {

    margin-bottom: 15px;
    overflow-y: hidden;

    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  #info-top div.name-logo {
    font-size: 14px;
  }

  .dn {
    display: none;
  }

  #name-logo {
    text-align: left;
  }

  a.logo {
    font-size: 40px;
  }

  p.th {
    font-size: 13px;
  }

  .cart a span i {
    font-size: 22px;
    margin-left: 29px;
  }

  .num_cart i {
    right: 42px;
  }

  span.num {
    right: 50px;
  }

  /* // list-product */
  ul.list-product-hightline li.list-item a {
    font-size: 18px;
  }

  ul.list-product-hightline li.list-item .price-product {
    font-size: 18px;
  }

  ul.list-product-hightline li.list-item .price-product span.price-old {
    color: #918d8d;
    text-decoration: line-through;
    padding-left: 47px;
    font-size: 17px;
  }

  ul.list-product-hightline li.list-item .action .add-cart {
    max-width: 150px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    font-size: 15px;
    color: #333;
    border: 1px solid rgb(117, 117, 117);
  }

  ul.list-product-hightline li.list-item .action .buy-now {
    max-width: 125px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    font-size: 15px;
    color: red;
    border: 1px solid red;
  }

  #support ul.list_support li h4 {
    padding-top: 10px;
    font-size: 14px;
    margin: 0;
  }

  #sidebar-left {
    display: none !important;
  }

  #sidebar-right {
    width: 100% !important;
  }

  .checkout-product {
    display: block !important;
  }
}

@media(max-width:812px) {
  .checkout-product {
    display: block !important;
  }

  .checkout-left {
    width: 100% !important;
    margin-bottom: 40px;
  }

  .checkout-right {
    width: 100% !important;
    margin-left: 0px !important;
  }
}

@media (max-width:767.68px) {

  #info-top {
    height: 40px;
    color: white;
    background: #002852;
    line-height: 40px;
    display: none;
  }

  .cart a span i {
    font-size: 22px;
    margin-left: 35px;
  }

  .num_cart i {
    right: 48px;
  }

  span.num {
    right: 56px;
  }

  #support ul.list_support li.br {
    border-right: none;
  }

  #sidebar-right .section-detail {
    display: block !important;
  }

  .show-slider {
    width: 100% !important;
    margin-bottom: 50px !important;
  }

  .info-product {
    width: 100% !important;
  }

  .section-detail .info-product h3 {
    font-size: 20px !important;
  }

  .section-detail .info-product .desc-product ul.list-desc-product li {
    width: 240px !important;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-size: 16px !important;
  }

  p.see-more, p.compact {
    left: 50px !important;
  }

  #section-cart {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: inherit;
    -ms-overflow-style: -ms-autohiding-scrollbar;

  }
}

@media (max-width:568px) {
  #support ul.list_support li {
    border-right: none;
  }

  #banner {
    display: none !important;
  }

  #back-top {
    width: 40px;
    height: 40px;
    color: #fff;
    background: tomato;
    right: 5px;
    bottom: 24px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    border-radius: 50%;
  }

  .dn1 {
    display: none;
  }

  .cart span {
    font-size: 22px;
    margin-left: 98px;
  }

  .num_cart i {
    right: 48px;
  }

  span.num {
    right: 56px;
  }

  .slide-toggle-menu i {
    color: white;
    padding: 7px 15px;

  }

  ul.list-policy li {
    padding: 0;
  }

  #footer ul.list-policy li h4 {
    font-size: 15px;
  }

  #footer ul.list-policy li p {
    font-size: 11px;
  }

  ul.list-policy li span {
    font-size: 11px;
  }

  #footer ul.list-policy li a {
    font-size: 11px;
  }

  #section-detail h5 {
    padding: 40px 0px 20px 0px !important;
  }

  #section-detail ul.list-product-sidebar a.name-product {
    font-size: 19px !important;
  }

  #section-detail ul.list-product-sidebar .price-product {
    padding-top: 5px !important;
  }

  #section-detail ul.list-product-sidebar .price-product .price-new {
    font-size: 19px !important;
    color: red;
    padding-right: 28px;
  }

  #section-detail ul.list-product-sidebar .price-product .price-old {
    font-size: 18px !important;
    color: rgb(114, 111, 111);
    text-decoration: line-through;
  }

  #section-detail ul.list-product-sidebar .action .add-cart a {
    max-width: 150px !important;
    text-align: center;
    height: 30px !important;
    line-height: 28px !important;
    font-size: 15px !important;
    color: #333;
    border: 1px solid rgb(117, 117, 117);
  }

  #section-detail ul.list-product-sidebar .action .buy-now a {
    max-width: 125px !important;
    text-align: center;
    height: 30px !important;
    line-height: 28px !important;
    font-size: 15px !important;
    color: red;
    border: 1px solid red;
  }
}

@media (max-width:420px) {
  .cart a {
    font-size: 22px;
    margin-left: -66px !important;
  }

  p.see-more, p.compact {
    left: 0px !important;
    width: 368px !important;
  }

  .section-detail table tbody tr td {
    padding: 10px 0px;
    text-transform: capitalize;
    font-size: 12px !important;
  }

  .section-detail table tbody tr td strong {
    font-size: 12px;
  }

  .form-row {
    display: block !important;
  }

  .section-info .form-row .form-col {
    margin-bottom: 40px;
    width: 100% !important;
  }

  .section-head h3.section-title {
    font-size: 18px !important;
  }
}

@media (max-width:400px) {
  .cart a {
    font-size: 22px;
    margin-left: -80px !important;
  }

  p.see-more, p.compact {
    left: 0px !important;
    width: 328px !important;
  }
}

@media (max-width:375px) {
  .cart a {
    font-size: 22px;
    margin-left: -104px !important;
  }

  p.see-more, p.compact {
    left: 0px !important;
    width: 272px !important;
    bottom: 53px !important;
  }

  .section-detail table tbody tr td.name-product span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -o-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    width: 133px;
    padding-top: 15px;
  }

  .section-detail table tbody tr td strong {
    font-size: 9px!important;
    padding-left: 0px!important;
    display: inline-block!important;
  }


}